/* This file is for your main application css. */

@import "./phoenix.css";
@import "./spectre.min.css";

/* Specific components style */
@import "./components/sessions.css";
@import "./components/home.css";
@import "./components/thumbnails.css";
@import "./components/article.css";

#content {
    margin-top: 52px;
}

#navbar {
    top: 0;
    left: 0;
    right: 0;
    background: white;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
    z-index: 10;
}
